#nitin_index
  %h1 Clients List
  %p#notice= notice 
  %table
    %tr.list
      %th Name 
      %th Code
      %th Actions
    = render :partial => @client_lists , :handlers => [:haml]
  %br/
  %div#management
    %ul
      %li.active= link_to 'New Client', new_client_list_path 
      %li.active= link_to 'Back', home_index_path 



