.nitin_index {
h1 {
    width: 100%;
    border-bottom: 3px solid #800000;	
    text-align: center;
    color: #800000;
    font-style:sans;
  }
  .list {
    th {
      border-bottom:3px solid #800000;
      text-align: left;
      font-size: 20px;
      background-color: #800000 ;
      text-color: #228B22;
    }
  } 
  .description {
    td {
      text-align: left;
      border-bottom: 1px dotted #800000;
      border-right: 1px dotted #800000;
    }
  }
  .list_actions {
    padding: 5px;
    margin: 2px;
  }
  
  table {
    width: 100%;
    border: 3px solid #800000	;
  }
}
