#nitin_index {
  h1 {
    width: 100%;
    //border-bottom: 3px solid #800000;	
    text-align: center;
    color: #556B2F;
    margin-top: 10px;
    font-style:sans;
  }
  .list {
    th {
      border-bottom:3px solid  #556B2F;
      text-align: left;
      font-size: 20px;
      background-color:  #556B2F ;
      text-color: #228B22;
    }
  } 
  .description {
    td {
      text-align: left;
      border-bottom: 1px dotted #556B2F;
      border-right: 1px dotted  #556B2F;
    }
  }
  .list_actions {
    padding: 5px;
    margin: 2px;
  }
  table {
    width: 100%;
    border: 3px solid  #556B2F	;
  }
}
#notice {
    color: green;
}
h1 {
  width: 100%;
 // border-bottom: 3px solid #800000	;
  text-align: center;
  color: #556B2F;
  padding: 5px;
  margin-top: 10px;
  font-style: sans-sarif;
  font-weight: bold;
}

.field {
  td {
    label {
      color: #556B2F;
      font-size: 25px;
      font-weight: normal;
      font-align: center;
      padding :20px;
      margin-right: 20px;
      padding-left: 450px;
    }
  }
  td {
    color: red;
  }
}
.action {
  padding-top : 30px;
  text-align: left;
  padding-left: 450px;
}
.button {
  background-color: #556B2F;
  }
#nitin_form {
  table {
    width: 50%;
    border: 3px solid #800000	;
    text-align: left;
    
    tr {
      th{
        font-weight: bold;
      }
    }
  }
}

