h2 {
  margin: 20px;
  padding-bottom: 10px;
  margin-left: 0px;
  color:  #556B2F;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
label {
  margin: 0px;
  color: green;
  font-weight: bold;
}
    
.error {
  color: red;
}
.session {
  text-align: right;
}
.notice {
  color: green;
}
.alert {
  color: red;
}

#password_reset {
  margin: 20px;
  padding-left: 120px;
  width: 50%;
  h3 {
  margin: 20px;
  padding-bottom: 10px;
  margin-left: 0px;
  color:  #556B2F;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  
}}
