#nitin_index
  %h1 Activity Lists
  %table
    %tr.list
      %th Name
      %th Actions
    = render :partial => @activities , :handlers => [:haml]

  %br/
  %div#management
    %ul  
      %li.active= link_to 'New Activity', new_activity_path 
      %li.active= link_to 'Back', home_index_path
